@font-face {
  font-family: HeavalPro;
  src: url("UpheavalPro.otf");
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: HeavalPro;
  background-color: black;
  text-shadow: 0px 2px 14px white;
}

img {
  width: 40%;
  height: 40%;
}
.titulo {
  position: absolute;
  top: -2%;
  left: 37%;
  font-size: 80px;
  z-index: -1;
}

.formulario {
  background-color: rgb(63 168 255);
  width: 32%;
  height: 69%;
  border-radius: 10px;
  border: 5px solid white;
  margin-bottom: 6%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: top;
  align-items: center;
  font-size: 18px;
  padding: px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#favoritos {
  min-width: 356px;
  max-width: 356px;
  min-height: 187px;
  max-height: 187px;
}

label {
  margin-bottom: 5px;
  font-size: 20px;
}

input[type="submit"] {
  margin-top: 5px;
  border-radius: 20px;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: antiquewhite;
}

input[type="text"],
select {
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
}

textarea {
  font-size: 20px;
}

select,
option,
input,
textarea {
  font-family: HeavalPro;
}

h1 {
  margin: 0;
}
